/*Seccion de Emily y Karina*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/*Navbar*/
.navbar-home {
    display: flex;
    align-items: center;
    padding: 20px;
}

.nav-menu {
    flex: 1;
    text-align: right;
}

.nav-menu ul {
    display: inline-block;
    list-style-type: none;
}

.nav-menu ul li {
    display: inline-block;
    margin-right: 20px;
    transition: all .5;
}

.menu-home li a {
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}

.menu-home li a.active,
.menu-home li a:hover {
    color: #3ba30f;
    transition: .3s;
}

.menu-icon img {
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.menu-icon,
#check {
    display: none;
}

.logo-home img {
    width: 120px;
    height: 120px;
}

.container-home {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*navbar nuevo*/
/*.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
por si se agrega un icon de  menu al lado, se agrega la img abajo del nav*/
/*Fin del Navbar*/
/*Inicio del home*/
.banner-home {
    display: flex;
}

.left-column-home {
    flex-basis: 80%;
}

.left-column-home img {
    width: 550px;
    height: 250px; 
}

.left-column-home h3 {
    color: #96154f;
    font-size: 40px;
    margin-left:200px;
}

span {
    color: #3ba30f;
}

.left-column-home p {
    font-size: 17px;
    color: #000;
    margin: 50px 0;
}

.btn-home button {
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 3px solid #96154f;
    border-radius: 20px;
    cursor: pointer;
    color: #96154f;
    background: transparent;
    font-size: 15px;
    font-weight: bold;
}

.btn-home .primary-btn-home {
    background: linear-gradient(#96154f, #96154f);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.btn-home {
    margin-bottom: 50px;
    margin-left: 100px;
}

.btn-home a{
    color: #fff;
    text-decoration: none;
}

.btn-home .primary-btn-home:hover{
        background: #3ba30f;
        transition: .3s;
        border-color: #3ba30f;
    }

.col-home {
    padding-left: 200px;
}

.card-home {
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
}

.card1-home {
    background-image: url(./img/foto5.jpeg);
}

.card2-home {
    background-image: url(./img/foto5.jpeg);
}

.card3-home {
    background-image: url(./img/foto5.jpeg);
}

.card4-home {
    background-image: url(./img/foto5.jpeg);
}

/*final del home page*/
/*Inicio del responsive*/
.h5-home {
    color: transparent;
}

.card-home p {
    color: transparent;
}

.logo-home img {
    width: 120px;
    height: 120px;
}


/*final del responsive*/
/*Seccion Maria y Gaby*/

.container-welcome {
    display: flex;
    align-items: center;
    flex-direction: column;

}


.containerBeCreative {

    background-size: cover;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.h3BeCreative {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1.5%;
    color:  #3ba30f;
    font-size: 40px;
}

.textoBeCreative {
    font-size: 17px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.containerWelcome {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-gap: 20px;
    grid-auto-rows: auto;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.colWelcome {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.imagenWelcome {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 50%;
}

.textoWelcome {
    margin-top: 0.3rem;
    text-align: center;
    font-size: 18px;
}

.btnWelcome button {
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 3px solid #96154f;
    border-radius: 20px;
    cursor: pointer;
    color: #96154f;
    background: transparent;
    font-weight: bold;
    font-size: 15px;
}

.btnWelcome .primary-btn-Welcome {
    background: linear-gradient(#96154f, #96154f);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.btnWelcome .primary-btn-Welcome:hover{
        background: #3ba30f;
        transition: .3s;
        border-color: #3ba30f;
    }

.btnWelcome {
    margin-bottom: 40px;
    margin-top: 40px;
}
.btnWelcome a{
    color: #fff;
    text-decoration: none;
}

.containerTestimonio {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.cardWelcome {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border 0;
    border: none;
    font-size: 50%;
    text-align: center;

}


.invitacionMenu {
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/vegetables-g56291a388_1920.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    color: white;
    display: flex;
}


.letra-invitacion {
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;

}

.btninvitacionMenu button {
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 3px solid #96154f;
    border-radius: 20px;
    cursor: pointer;
    color: #96154f;
    background: transparent;
    font-weight: bold;
    font-size: 15px;
}

.btninvitacionMenu .primary-btn-invitacionMenu {
    background: linear-gradient(#96154f, #96154f);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.btninvitacionMenu .primary-btn-invitacionMenu:hover{
        background: #3ba30f;
        transition: .3s;
        border-color: #3ba30f;
}

.btninvitacionMenu {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.btninvitacionMenu a{
        color: #fff;
        text-decoration: none;
}

/*TESTIMONIOS*/

.tituloTestimonio p {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-top: 60px;

}


.imagenTestimonios {
    height: 150px;
    background: url(./img/Diseño\ sin\ título.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 400px;
    padding-left: 400px;
    justify-content: center;
    flex-direction: column;   
    
}

.containerTestimonio{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-bottom: 0;
}

.slider {
    width: 45%;
    height: 60%;
    overflow: hidden; 
    margin-right: 250px; 
    margin-top: 80px;
     
    
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
}


.slider li {
    width: 50%;
    height: 50%;
    list-style: none;
}

.slider img {
    height: 100%;
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}



/*Seccion Cristal y Barbara*/

ul {
    list-style-type: none;
}

li {
    margin-top: 10px;
    margin-right: 5px;
    text-align: right;
}

.formu-reservas {
    background-color: rgb(255, 255, 255);
    background-blend-mode: 50%;
    height: 300px;
    width: 300px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #3ba30f;
    border-width: thin;
    border-radius: 30px;
    margin-bottom: 30px;
    opacity: .80;
    padding-right: 40px;
}
.formu-reservas input{
        width: 175px;
}
  
.boton-reservas {
    text-align: center;
    height: 50px;
    width: 150px;
    background-color: #96154f;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-left: 100px;
    margin-right: auto;
    font-size: large;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
}

.boton-reservas:hover{
    background: #3ba30f;
    transition: .3s;
    border-color: #3ba30f;
}

.imagen-fondo {
    background: url(./img/rsz_alex-haney-cahjzmvk5h4-unsplash.jpg) fixed;
    background-size: cover;
    background-blend-mode: darken;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.titulo-reservas {
    text-align: center;
    padding-top: 20px;
    margin-left: 50px;
}

footer {
    background-color: #ffffff;
}

.grid-layout {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 100%;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    justify-content: space-around;
}

.caja {
    text-align: center;
    padding-top: 50px;
}

.caja logo {
    width: 150px;
    height: 150px;
}

.copyright {
    grid-row: 3/4;
    grid-column: 1/5;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

img {
    width: 30px;
    height: 30px;
}

.logo-footer {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

iframe {
    border-radius: 50px;
}


.caja .horario-caja{
margin-top: 30px;
}

.horario li {
text-align: center;
}

@media (max-width: 600px) {
    .banner-home {
        flex-direction: column;
    }

    .plate-container-home {
        padding: 0;
        display: flex;
        overflow: scroll;
    }

    .grid-layout {
        display: contents;
    }
}

@media screen and (max-width: 768px) {
    .checkbtn {
        display: block;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 50px;
        right: 20px;
    }

    .nav-menu ul {
        display: block;
        position: fixed;
        top: 125px;
        left: -100%;
        background: #fff;
        width: 100%;
        height: 100vh;
        right: 0;
        cursor: pointer;
    }

    .nav-menu ul li {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .nav-menu ul li:last-child {
        padding: 1rem;
    }

    #check:checked~ ul {
        left: 0;
        transition: all .5s;
    }
}

@media (max-width: 900px) {
    .banner-home {
        flex-direction: column;
    }

    .plate-container-home {
        padding: 0;
        display: flex;
    }
}

@media (max-width: 1236px) {
    .banner-home {
        flex-direction: column;
    }

    .plate-container-home {
        padding: 0;
        display: flex;
        justify-content: center;
    }
}
/* conocenos*/
.equipo{
    text-align: center;
    color: #3ba30f;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 0.5%;
    
 }
 .fotos-empleados{
     height: 100px;
     width: 150px;
     margin-top: 10px;
     border-radius: 100%;
  }
  .grid-contenedor{
     display:grid;
     grid-template-columns: 20% 20% 20%;
     grid-template-rows: 50% 50%;
     justify-content: center;
     width: 100%;
     font-family: 'Open Sans', sans-serif;
  }
.tarjetas-empleados{
justify-content: center;
border: outset 3px #96154f;
margin-top:30px;
margin-right: 50px;
text-align: center;
border-radius: 10%;
padding-bottom: 10px;
box-shadow: 10px 10px 8px #a6a3a5;
}
.tarjetas-empleados p{
    font-size: small;
}
/*Seccion Maria y Gaby*/

.containerCarta {
    display: flex;
    align-items:center;
    flex-direction: column;
    margin-bottom: 5px;
}

.textoCarta {
    font-size: 20px;
    margin-bottom: 50px;
}

.container-Carta {

    background-size: cover;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1.5%;
    font-size: 300%;
    color: #3ba30f;
    opacity: .80;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1.5%;
    font-size: 200%;
    color: #3ba30f;
    opacity: .80;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
   
    margin-bottom: 1.5%;
    font-size: 100%;
    color: #0b0b0b;
    opacity: .80;
}

p {
    font-family: 'Open Sans', sans-serif;
}


.containerIngredientes {

    background-size: cover;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.containerT {

    background-size: cover;
    max-width: 1300px;
    margin: auto;
    margin-top: 5px;
    padding-left: 25px;
    padding-right: 25px;

}

.containerTamaño {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    grid-gap: 20px;
    grid-auto-rows: auto;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    justify-items: center;
   
}

.containerbase {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-gap: 20px;
    grid-auto-rows: auto;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
   
}


.containerProteina {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-gap: 20px;
    grid-auto-rows: auto;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.containerComplementos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-gap: 20px;
    grid-auto-rows: auto;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.containerSalsas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100% 25%;
    gap: 20px;
    grid-gap: 20px;
    grid-auto-rows: auto;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.containerToque {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-gap: 20px;
    grid-auto-rows: auto;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.colPlato {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 20px;
}




.imagenPlato {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 50%;
}


.imagenTamano {
    width: 80px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 60%;
}

.textoIngredientes {
    margin-top: 0.3rem;
    text-align: center;
    font-size: 15px;
    color: #96154f;

}